body {
    background: yellow;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    margin-bottom: 30px;
}

.section {
    width: 90%;
    margin: auto;
    margin-bottom: 60px;
    border: 3px solid black;
    padding: 20px;
    background: yellow;
}

.section h2 {
    background: #696969;
    padding: 10px;
    color: white;
    font-size: 18px;
}

.box {
    height: 120px;
    background: yellow;
    border: 2px solid black;
    display: flex;
    padding: 10px;
}

.item {
    width: 80px;
    height: 50px;
    background: #ffedb8;
    border: 1px solid black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* justify-content types */
.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

footer {
    font-weight: bold;
    margin-top: 50px;
    font-size: 20px;
}
