body {
    font-family: Arial;
    padding: 30px;
}

h2 {
    background: #555;
    color: white;
    padding: 10px;
    margin-top: 40px;
}

.demo {
    background: #ffd;      /* peach-yellow background */
    padding: 20px;
    margin-bottom: 40px;
    display: flex;
}

.demo2 {
    flex-wrap: wrap;
}

.demo3 {
    flex-wrap: nowrap;
}

.item {
    width: 80px;
    height: 40px;
    background: yellow;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 1px solid #ccc;
}
